*{
    box-sizing: border-box;
}

body{
    background-color:rgb(18, 8, 34);
}

/* Header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: solid 1px black;
    border: 0%;
    background-color: rgba(112, 94, 94, 0.247);
    justify-content: space-between;
}

.logotit{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logohead{
    margin-left: 30px;
    margin-right: 30px;  
}

.titulo{
    color:  rgb(236, 189, 118);
    font-size: 20px;
    height: 7vh;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    text-decoration: none;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-right: 5%;
}

.navegHome{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    font-size: 18px;
    padding: 2%;
}

.navegHome:hover{
    background-color:rgb(18, 8, 34);
}

.navegGeneros{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    font-size: 18px;
    padding: 2%;
}

.navegGeneros:hover{
    background-color:rgb(18, 8, 34);

}

.navegFavs{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    font-size: 18px;
    padding: 2%;
}

.navegFavs:hover{
    background-color:rgb(18, 8, 34);
}

.busqueda{
    padding: 1%;
}

.buscador{
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(18, 8, 34);
    border-radius: 40px;
    font-size: 14px;
    height: 30px;
    width: 70%;
    padding: 4% 1%;
    color: gray;
}

.botonbuscador{
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(18, 8, 34);
    border-radius: 20px;
    font-size: 14px;
    height: 30px;
    color:gray;
    border-color: transparent;  
}

.logohead{
    width: 95px;
}
/* Main */
.mainHome{
    margin-top: 65px;
}

h2{
    color:  rgb(236, 189, 118);
    height: 10px;
    font-size: 20px;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.lanzamientos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:  rgb(236, 189, 118);
    padding: 50px;
    
}

.seriePopulares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:  rgb(236, 189, 118);
    padding: 50px;
    
}
.pelisPopulares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:  rgb(236, 189, 118);
    padding: 50px;
    
}
.popu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    margin: 0px;
}

.pelis{
    height: 270px;
    width: 200px;
    margin-bottom: 10px;
}
/* Footer */
footer{
    background-color:rgba(112, 94, 94, 0.247); 
    height: 30vh;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

}
.principalFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 4vh;
    
}
.imgfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8vh;
    margin: 17px;
}
.imgfooter2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 8vh;
    margin: 17px;
}
.titfooter{
    color:  rgb(236, 189, 118);
    font-size: 30px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    text-decoration: none;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10px;
    margin-top: 55px;
}
.ayudafoot{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.contactofoot{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-left: 2%;
}

.secundarioFooter{
    margin-top: 25px;
}

.nosotros{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
.sarasa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px; 
}
    
/* Termina footer */
.logo{
    width: 100px;
}

body{
    color: rgb(236, 189, 118)    ;
    font-family: 'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(18, 8, 34);
}

.imagen{
    height: 500px;
    width: 380px;
}

.contenedor-padre{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.contenedor-padre-serie{
    display: flex;
    width: 100%;
    margin-top: 62px;
    margin-bottom: 15px;
}

.contenedor-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-imagen{
    width: 50%;
    padding: 20px;
}

.contenedor-texto{
    width: 80%;
    margin-left: -70px;
    margin-right: 30px;
    margin-top: 15px;
    align-items: end;
    flex-wrap: wrap;
}

.section-recomendaciones {
    margin-left: 30px;
    margin-top: 45px;
}

.nom-recom-container {
    display: none;
}

.logo-favoritos{
    height: 50px;
    background-color: rgb(21, 21, 70);
}
.logo-favoritos:hover{
    background-color: rgba(63, 201, 155, 0.5);
}

.estrellas{
    height: 18px;
    width: 75px;
    margin-left: 5px;
    margin-bottom: -2px;
}

span{
    color: gray;
}

.trailer{
    width: 225px;
    height: 40px;
    margin-left: -10px;
    margin-top: 5px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.imagen2{
    width: 380px;
    height: 495px;
    margin-top: -45px;
}

.contenedor-texto2{
        width: 80%;
        margin-left: -60px;
        margin-right: 30px;
        align-items: end;
        flex-wrap: wrap;
        margin-top: -40px;
}

.titulo-genero{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.genero-accion1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 230px;
    margin: 50px;
}

.genero-accion2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 230px;
    margin: 50px;
}

.peli-accion{
    height: 200px;
    text-align: center;
}

.img-accion{
    width: 150px;
    height: 190px;
}

.texto-accion{
    margin: 50px;
}

/* FAVORITOS */
.mainFavs{
    margin-top: 65px;
}
.FavsTitulo{
    color:  rgb(236, 189, 118);
    font-size: 25px;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.PelisFavsTitulo{
    color:  rgb(236, 189, 118);
    font-size: 22px;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 160px;
}
.FavsPelis{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    margin: 50px;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 30px;

}
.FavsSeries{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    margin: 50px;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 30px;

}
.Favstodas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    
}
.pelisFavs{
    height: 270px;
    width: 200px;
    margin: 50px;
}
/* Termina Favoritos */

.contenedor-peliculas {
    display: flex;
    flex-wrap: wrap;
    padding: 0 200px;
}
.contenedor-peliculas img {
    width: 200px;
    height: 400px;
}

.generos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.titulo-genre {
    font-size: 60px;
    justify-content: center;
    text-align: center;
}

.generos-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulos-genero{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.generos-container a {
    text-decoration: none;
    color: rgb(236, 189, 118);
}
.cansado{
    margin-top: 3%;
    font-size: 15px;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






/* Media queries */
@media (max-width:420px) {
    /* Header */
    header{
        height: 30vh;
    }
    .logohead{
        height: 15vh;
        width: 65%;
        margin-left: 15px;
        margin-right: 15px;  
    }
    .titulo{
        display: none;
    }
    .navegHome{
        font-size: 15px;
    }
    .navegGeneros{
        font-size: 15px;
    }
    .navegFavs{
        font-size: 15px;
    }
    .buscador{
        height: 7vh;
        font-size: 13px;
    }
    .botonbuscador{
        font-size: 13px;
        height: 7vh;
    }
    /* Home */
    .mainHome{
        margin-top: 10%;
    }
    h2{
        font-size: 15px;

    }
    .populares{
        justify-content: center;
        padding-top: 5%;
        padding-left: 6%;
        padding-right: 3%;
    }
    .popu{
        flex-direction: column;
        font-size: 13px;
        margin: 3px;
    }
    
    .pelis{
        height: 40vh;
        width: 100%;
    }
    /* #ResonsiveFavs */
    footer{
        height: 33vh;
    }
    .mainFavs{
        margin-top: 10%;
    }
    .FavsTitulo{
        font-size: 18px;
    }
    .PelisFavsTitulo{
        font-size: 15px;
        margin-left: 12%;
    }
    .FavsPelis{
        justify-content: center;
        padding-top: 0%;
        padding-left: 6%;
        padding-right: 3%;
        height: 100vh;
    }
    .Favstodas{
        flex-direction: column;
        font-size: 13px;
        margin: 3px;
    }
    .pelisFavs{
        height: 40vh;
        width: 100%;
    }
    /* #Responsive Footer */
    .imgfooter2{
        display: none;
    }
    .principalFooter{
        justify-content: flex-start;
        height: 2vh;
    }
    .imgfooter{
        height: 8vh;
        width: 13vw;
    }
    .titfooter{
        font-size: 20px;
    }
    .contacto{
        justify-content: flex-start;
        padding-left: 25px;
        margin-top: 15%;
    }
    .ayudafoot{
        font-size: 14px;
    }
    .contactofoot{
        font-size: 14px;
        
    }
    .secundarioFooter{
        margin-top: 6%;
    
    }
    .nosotros{
        justify-content: flex-start;
        font-size: 12px;
        padding-left:25px;
    }
    .sarasa{
        font-size: 10px;
        padding-bottom: 4%;
    }
/* Detalle Movie */
    .contenedor-padre{
        flex-direction: column;
    }
    .contenedor-texto{
        margin: 0px;
    }
/* Detalle Serie */
    .contenedor-padre-serie{
        flex-direction: column;
    }

    .contenedor-texto2{
        margin: 0px;
    }
    
/* Detail Genres */
    .genero-accion1,.genero-accion2 {
        flex-wrap: wrap;
        height: 200vh;
        margin: 7%;
        
    }
    .titulo-genero{
        font-size: 18px;
        padding-top: 5%;
        padding-left: 6%;
        padding-right: 3%;
    }
    .peli-accion{
        font-size: 13px;
    }
    .texto-accion{
        font-size: 13px;
    }
    .mejores-pelis{
        font-size: 15px;
    }


    .generos {
        display: flex;
        flex-direction: column;
    }

    .generos a {
        font-size: 50px;
    }
    .cansado{
        font-size: 13px;
    }
    
}

.estreno{
    margin-top: 10px;
    margin-bottom: 40px;
} 

.error{
    font-size: 13px;
}

.firulete{
    margin-right: 50px;
}

.img{
    width: 100px;
}
.nom-recom-container{
    display:flex;
    column-gap:15px ;
}
#Error{
    display: none;
}