*{
    box-sizing: border-box;
}

body{
    background-color:rgb(18, 8, 34);
}
/* Header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    border: solid 1px black;
    border: 0%;
    background-color: rgba(112, 94, 94, 0.247);
    justify-content: space-between;
    
}

.logotit{
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logohead{
    height: 70px;
    width: 95px;
    margin-left: 30px;
    margin-right: 30px;  
}

.titulo{
    color:  rgb(236, 189, 118);
    font-size: 20px;
    height: 100px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    text-decoration: none;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 50%;
    margin-right: 5%;
}

.navegHome{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    font-size: 18px;
    padding: 2%;
}

.navegHome:hover{
    background-color:rgb(18, 8, 34);
}

.navegGeneros{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    font-size: 18px;
    padding: 2%;
}

.navegGeneros:hover{
    background-color:rgb(18, 8, 34);

}

.navegFavs{
    text-decoration: none;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 40px;
    font-size: 18px;
    padding: 2%;
}

.navegFavs:hover{
    background-color:rgb(18, 8, 34);
}

.busqueda{
    height: 10%;
    padding: 1%;
}

.buscador{
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(18, 8, 34);
    border-radius: 40px;
    font-size: 14px;
    height: 30px;
    width: 70%;
    padding: 4% 1%;
    color: gray;
}

.botonbuscador{
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(18, 8, 34);
    border-radius: 20px;
    font-size: 14px;
    height: 30px;
    color:gray;
    border-color: transparent;  
}

img{
    width: 100px;
    height: 100px;
}
/* Main */
main{
    margin-top: 80px;
}

h2{
    color:  rgb(236, 189, 118);
    height: 10px;
    font-size: 20px;
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.populares{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color:  rgb(236, 189, 118);
    height: 400px;
    padding: 50px;
    
}

.popu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    
}

.pelis{
    display: flex;
    flex-wrap: wrap;
    height: 270px;
    width: 200px;
}

footer{
    background-color:rgba(112, 94, 94, 0.247); 
    height: 100px;
}

.nosotros{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    color:  rgb(236, 189, 118);
    font-family:'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    padding-top: 10px;
}

.logo{
    width: 100px;
}

body{
    color: rgb(236, 189, 118)    ;
    font-family: 'Bebas Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(18, 8, 34);
}

.imagen{
    width: 380px;
    height: 460px;
}

.contenedor-padre{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.contenedor-imagen{
    width: 50%;
    padding: 20px;
}

.contenedor-texto{
    width: 80%;
    margin-left: -20px;
    margin-right: 30px;
    align-items: end;
    flex-wrap: wrap;
}

.estrellas{
    height: 18px;
    width: 75px;
    margin-left: 5px;
}

span{
    color: gray;
}

.trailer{
    width: 225px;
    height: 40px;
    margin-left: -10px;
    margin-top: 5px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.imagen2{
    width: 380px;
    height: 495px;
    margin-top: -45px;
}

.contenedor-texto2{
        width: 80%;
        margin-left: -20px;
        margin-right: 30px;
        align-items: end;
        flex-wrap: wrap;
        margin-top: -40px;
}

.titulo-genero{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.genero-accion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
}

.img-accion{
    width: 150px;
    height: 800;
}